* text=auto eol=lf


/src/** !export-ignore
/.github/** !export-ignore
/demo/** !export-ignore
/addons/** !export-ignore

SConstruct !export-ignore
Dockerfile !export-ignore
README.md !export-ignore
.gitignore !export-ignore
.gitattributes !export-ignore